.tracker {
  width: 1000px;
  .table-footer {
    border-top: 2px solid $primary;
  }
}

.upload-file {
  input {
    background-color: $common;
    margin: 5px 20px;
  }
}

.download {
  .download-button {
    margin: 20px;
  }
}
